.DS_store
/flashed
flashed/
notsplitted/
/flickr30k_images
flickr30k_images/

__pycache__/
/__pycache__

First_model.h5

models/
/models

/main_data
main_data/

/.vscode
.vscode/
*.png
*.jpg
*.pyc
*.h5
*.HDF5
/models
models/